header{
    height: 70px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

header .logo{
    flex: 1;
}

header a{
    text-transform: uppercase;
    color: black;
}

header ul li{
    display: inline-block;
    opacity: 0.7;
    padding: 0 20px;
    /* margin: 0 10px; */
}

header ul li:hover{
    opacity: 1;
}

.menu{
    display: none;
}

.cart-icon{
    position: relative;
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
}

.cart-icon span{
    background: crimson;
    border-radius: 20px;
    color: white;
    padding: 5px 7px;
    position: absolute;
    top: -10px;
    right: -5px;
    font-size: 9px;
}