*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: dimgray; */
}

.App {
  max-width: 1230px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  /* text-align: center; */
  box-shadow: 0 0 35px #eee;
}

a {
  text-decoration: none;
  color: #333;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}
