.details{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
    font-size: 150%;
}

.details img{
    max-width: 400px;
    width: 100%;
    margin: 20px;
    height: 450px;
    object-fit: cover;
    display: block;
    /* border-radius: 50px; */
}

.box_detail{
    max-width: 500px;
    width: 100%;
    margin: 20px;

}

.row{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 150%;
}

.row h2{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.box_detail span{
    font-size: 1.5rem;
    font-weight: 400;
}

.box_detail p{
    font-size: 1.5rem;
    font-weight: 400;
}

.box_detail  a{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #ff523b;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    transition: .3s;
}

.box_detail a:hover{
    background: #333;
}